*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{
    /* light theme */
    --black:black;
    --red:red;
    --white:white;
    --button-back:black;
    --button-color:white;
}
.dark-theme{
    --black:white;
    --red:red;
    --white:black;
    --button-back:red;
    --button-color:white;
}
body{
    background-color: var(--white);
}
.nav{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: space-between;
    height: 50px;
    padding:25px 25px 5px 20px;
    background-color: var(--white);
    font-size: 18px;
    
}
.nav .icon img{
    height: 70px;
    width: 80px;
    margin-left: 25px;
    padding-top: 0;
}

.nav ul{
    display: flex;
    flex-direction: row;
}

.nav ul li{
    margin-left: 20px;
    margin-top: 5px;
    list-style: none;
    cursor: pointer;
    color: var(--black);
}
li:hover{
    text-decoration: underline;
}

ul button{
    margin-left: 10px;
    color:var(--red);
    cursor: pointer;
    width: 80px;
    height: 30px;
    background-color: var(--button-back);
    color:var(--button-color);
    border:none;
    font-size: 16px;
    border-radius: 10px;
}

ul a:active{
    text-decoration: underline;
}
.section{
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    gap:100px;
}
.info{
    display: flex;
    flex-direction: column;
    gap:25px;
    max-width: 600px;
    margin:80px 0 0 100px;
}
.info h1{
    font-size: 60px;
    line-height: 65px;
    color: var(--red); 
}
.info p{
    font-size: 20px;
    line-height: 30px;
    color:var(--black);

}
.info button{
    width: 200px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left:350px;
    font-size: 16px;
    border:none;
    background-color: var(--button-back);
    color:var(--button-color);
    cursor: pointer;
}
.info button:active{
    color:var(--red)
}
button:hover{
    color:var(--white)
}
.image img{
    margin-top: 40px;
    height: 95%;
    width: 90%;
}
@media  (max-width:500px) {
    .nav{
    max-width: 500px;
    padding:10px 10px 5px 10px;
    font-size: 15px;
    }
    .nav ul li{
        margin-left: 5px; 
        margin-top:7px;
    }
    .nav .icon img{
        height: 40px;
        width: 45px;
        margin-left: 5px;
    }
    ul button{
        margin-left: 10px;
        padding: 8px auto;
        width: 70px;
        height: 23px; 
        font-size: 15px;  
    }
    .section{
        max-width: 500px;
        flex-direction: column;
        gap:15px;
    }
    .info{
        gap:10px;   
        max-width: 420px;
        margin:15px 10px 0px 10px;
    }
    .info h1{
        font-size: 40px;
     line-height: 45px; 
    }
    .info p{
        font-size: 20px;
        line-height: 25px;
    }
    .info button{
        width: 180px;
        padding: 10px 20px;      
        margin:5px auto;
        font-size: 15px;
    }
    .image img{
        margin: 15px 30px 0px 60px;
        height: 55%;
        width: 55%;
    }
}

